{% extends "layout.html" %}

{% block title %}Internal Server Error{% endblock %}

{% block container %}
<h1 class="py-3 display-1" style="text-align: center;"><i class="far fa-frown fa-3x"></i></h1>
<h1 class="display-4" style="text-align: center;">500</h1>
<h3 style="text-align: center;">Internal Server Error</h3>
<div class="update">The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.</div>
{% endblock %}